ion-fab-button {
  /*display: none;*/
  --background: transparent;
  --box-shadow: 0;
}

.realwear-input-wrapper {
  padding-left: 10px;
  border-bottom: 1px solid var(--ion-color-light);
}

.realwear-input-label {
  margin-left: 7px;
  margin-bottom: -6px;
  font-size: small;
}