<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="buttonWithIcon('menu')" tabindex="-1" title="hf_use_description|Menu Button">
        <div>
          <ion-icon ios="menu-outline" md="menu-sharp"></ion-icon><br/>
          <span class="realwear-header-button">Menu Button</span>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-title>
      RW Firmware 12 Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #pageContent>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="plainButton()">Plain Button</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="buttonWithIcon('barcode')" tabindex="-1" title="hf_use_description|Scan Barcode">
            <div>
              <ion-icon name="barcode"></ion-icon><br/>
              <span class="realwear-header-button">Scan Barcode</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="plainButton()" tabindex="-1" title="hf_use_description|Icon Only">
            <ion-icon name="barcode"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col><ion-button (click)="makeTeamsCall('https://teams.microsoft.com/l/chat/0/0?users=bob@a3jgroup.com')">Chat with Bob</ion-button></ion-col>
        <ion-col><ion-button (click)="makeTeamsCall('https://teams.microsoft.com/l/call/0/0?users=kim@a3jgroup.com')">Call Kim</ion-button></ion-col>
        <ion-col><ion-button (click)="makeTeamsCall('tel:kelly@a3jgroup.com')">Call Kelly</ion-button></ion-col>
        <ion-col><ion-button (click)="makeTeamsCall('callto:hunter@a3jgroup.com')">Call Hunter</ion-button></ion-col>
      </ion-row>
    </ion-grid>

    <div class="realwear-input-wrapper">
      <p class="realwear-input-label">Enter First Name</p>
      <ion-input type="text" name="fname" [(ngModel)]="fname" placeholder="Enter First Name" title="hf_use_description"></ion-input>
    </div>
    <!-- If we could get the below block to work that would be so much better -->
    <!-- I wouldn't have to duplicate the <ion-item> and <ion-input> tags for RealWear vs Standard Device -->
    <!--
    <ion-item>
      <p style="position:absolute;margin-top:-25px;margin-left:0px;">Enter First Name</p>
      <ion-input type="text" name="fname" [(ngModel)]="fname" placeholder="Enter First Name" title="hf_use_description"></ion-input>
    </ion-item>
    -->
    <ion-item>
      <ion-label position="stacked">Enter Last Name</ion-label>
      <ion-input type="text" name="lname" [(ngModel)]="lname" placeholder="Enter Last Name" title="hf_use_description"></ion-input>
    </ion-item>

    <form #searchForm="ngForm" (ngSubmit)="searchRecords(true)" (keyup.enter)="searchRecords(true)">
      <ion-item lines="none">
        <ion-icon name="search" color="mxdark"></ion-icon>
        <ion-input 
          name="searchTerm" 
          [(ngModel)]="searchTerm" 
          (ionChange)="searchRecords()" 
          debounce="750" 
          placeholder="Search Purchase Orders" 
          title="hf_use_description" tabindex="-1" style="margin-left: 5px;"></ion-input>
        <ion-button color="mxdark" slot="end" fill="clear" tabindex="-1" title="hf_use_description|Scan Barcode">
          <div>
            <ion-icon ios="barcode-outline" md="barcode-sharp" color="mxdark"></ion-icon><br/>
            <span style="color: var(--ion-color-mxdark)" class="realwear-header-button">Scan Barcode</span>
          </div>
        </ion-button>
      </ion-item>
    </form>

    <ion-button (click)="toggleList()">Toggle List</ion-button>
    <div *ngIf="listToggled">
      <p>
        This list should allow for scrolling
      </p>
      <ion-list>
        <ion-item *ngFor="let item of listItems">
          <h4>{{ item }}</h4>
          <ion-button slot="end" (click)="plainButton()">{{ item }}</ion-button>
        </ion-item>
      </ion-list>
    </div>

    <!-- <p style="font-size: xx-small; line-height: 1px;" tabindex="-1" title="hf_use_description|Scroll Top"    (click)="scrollTop()">&nbsp;</p>
    <p style="font-size: xx-small; line-height: 1px;" tabindex="-1" title="hf_use_description|Scroll Bottom" (click)="scrollBottom()">&nbsp;</p>
    <p style="font-size: xx-small; line-height: 1px;" tabindex="-1" title="hf_use_description|Scroll Up"     (click)="scrollUp()">&nbsp;</p>
    <p style="font-size: xx-small; line-height: 1px;" tabindex="-1" title="hf_use_description|Scroll Down"   (click)="scrollDown()">&nbsp;</p> -->

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="hide-scroll-button"> -->
    <!-- Uncomment line above and comment line below to see buttons -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="hide-scroll-button">
      <ion-fab-button size="small" (click)="scrollTop()" tabindex="-1" title="hf_use_description|Scroll Top">
        <!-- <ion-icon name="chevron-up-circle"></ion-icon> -->
        <img src="assets/clear-pixel.png"/>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="scrollBottom()" tabindex="-1" title="hf_use_description|Scroll Bottom">
        <!-- <ion-icon name="chevron-down-circle"></ion-icon> -->
        <img src="assets/clear-pixel.png"/>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="scrollUp()" tabindex="-1" title="hf_use_description|Scroll Up">
        <!-- <ion-icon name="chevron-up"></ion-icon> -->
        <img src="assets/clear-pixel.png"/>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="scrollDown()" tabindex="-1" title="hf_use_description|Scroll Down">
        <!-- <ion-icon name="chevron-down"></ion-icon> -->
        <img src="assets/clear-pixel.png"/>
      </ion-fab-button>
    </ion-fab>

</ion-content>
